<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
<head>
	<meta charset="UTF-8">
	<title>Angular</title>
    <link rel="stylesheet" href="style/bootstrap.css">
    <link rel="stylesheet" href="style/style.css">
</head>
<body ng-controller='mainController'>

<div id="mainDiv">
    <div ng-controller="SearchController">
    <div class="row">
      <div class="col-md-5"></div>
    
             <header class="col-md-5">
                 <div id="Logo">
                     <h1>Hotel Look</h1>
                 </div>
    
                 <div class="Search" id="Search">
                   <input type="search" placeholder="Поиск"
                                     ng-keyup="search()"    ng-blur="blur()"
                                     ng-model="name"/>
                 </div>
             </header>
             </div>
    
    
        <form align='center'>
            <ul>
                <li ng-repeat="user in people | filter:name" id="repeter">
                         <img src="{{user.src}}" alt="" height="200px">
                    <h3>
                    {{user.name}}
                    </h3>
                    <h6>
                    {{user.description}}
                    </h6>
                    <p>
                    <span class="badge badge-info">Price: {{user.price}} $</span>
                        <button class="btn btn-success btn-sm"> Buy</button>
                    </p>
                </li>
            </ul>
        </form>
    </div>
</div>


<script src="lib/angular/angular.min.js"></script>
<script src="app.js"></script>
<script src="controller/hotels.js"></script>
</body>
</html>